# Maintained in linux-config.org

settings set target.load-cwd-lldbinit true

command script import /home/rgr/.local/lib/python3.9/site-packages/voltron/entry.py

#alias vtty = shell tmux-pane-tty voltron 4

#define voltron-source-tty
#shell tmux-pane-tty
#end
